<!-- preferences.ejs -->

<!-- preferences.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <title>Restaurant Recommender</title>
        
    </head>
    <body>
        <h1>Restaurant Recommender</h1>
        <form id="recommendationForm" action="/preferences" method="post">
            <label for="food">What do you want to eat today?</label><br>
            <input type="text" id="food" name="food" placeholder="Your favorite food"><br>

            <label for="drink">What do you want to drink today?</label><br>
            <input type="text" id="drink" name="drink" placeholder="Your favorite drink"><br>

            <input type="submit" value="Get Recommendations">
        </form>
    </body>
</html>

